<script>
        function goBack() {
                window.history.back()
        }
</script>

<center><h2>Detalhes Amostra selecionada: {{ result.nome }} </h2><hr>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<a href="/api/consulta/Amostra/{{result.key_horizonte}}"><button id="retornar" name="retornar" class="btn btn-success">Retornar a lista de Amostras</button></a>
</div>
<table class="table table-striped">
<tr>
<td align="center" colspan="3"><label class="col-form-label-sm">Identificação única <b>{{ result.key }}</b></label></td>
</tr>

{{#if result.nome}}
        <tr>
                <td><label class="col-form-label-sm">Etiqueta:</label></td>
                <td><label class="col-form-label-sm">{{result.nome}}</label></td>
        </tr>
{{/if}} 
{{#if result.comentario}}
        <tr>
                <td><label class="col-form-label-sm">Observações complementares:</label></td>
                <td><label class="col-form-label-sm">{{result.comentario}}</label></td>
        </tr>
{{/if}} 


</table>

<div class="d-grid gap-2 d-md-flex justify-content-md-center" style="width:100%;">
<a href="/api/consulta/Proveniencia/{{result.key_proveniencia}}"><button class="btn btn-success">Metadados do Registro</button></a>
</div>